.modalBackground {
  /* width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(0, 43, 91, 1) 0%,
    rgba(43, 72, 101, 1) 35%,
    rgba(37, 109, 133, 1) 100%
  );
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center; */

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.modalContainer {
  position: absolute;
  top: calc(50vh - 230px);
  left: calc(50vw - 147px);
  width: 300px;
  height: 320px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;

  animation: openModal 0.4s ease-in-out;
}
.menuContainer {
  position: absolute;
  top: calc(50vh - 300px);
  left: calc(50vw - 177px);
  width: 350px;
  height: 650px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;

  animation: openModal 0.4s ease-in-out;
}

@keyframes openModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}

/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 25px;
}
.delete-xmark {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 40px;
  font-size: 90px;
  background-color: #e85e6c;
  color: white;
}
.success-text {
  height: 20%;
  word-break: break-all;
  font-size: 20px;
  animation: textOpacity 1.5s;
}
.success-text p:first-child {
  margin-bottom: 20px;
}
.modal__deleteBtn {
  background-color: white;
  border-radius: 10px;
  width: 55px;
  height: 35px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.modal__deleteBtn:hover,
.modal__cancelBtn:hover {
  background-color: #e85e6c;
}

.modal__cancelBtn {
  background-color: white;
  border-radius: 10px;
  width: 55px;
  height: 35px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@keyframes textOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.success-text p:last-child {
  font-size: 15px;
  opacity: 0.7;
}

.check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4caf50;
  animation: opacity 2s;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal__deleteSucessMSG {
  margin-top: 10px;
  font-size: 20px;
  animation: opacity 1s;
}
.res__deleteSucessMSG {
  margin-top: 20px;
  font-size: 20px;
  animation: opacity 1s;
}
.res__deleteSucessMSG__top {
  margin-top: 70px;
}

.check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 2.5s ease-in;
}

.check-icon::before,
.check-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: #ffffff;
  transform: rotate(-45deg);
}

.icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}

.icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 1.2s;
}

.icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 1.2s;
}

.icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}

.icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #ffffff;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  10% {
    transform: rotate(-45deg);
  }
  30% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@media all and (max-width: 900px) {
  .modalBackground {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modalContainer {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    background-color: white;
    box-shadow: white 0px 0px 0px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-left: 5px;
  }
}
#phoneInput,
#nameInput {
  border: none;
  border-radius: 10px;
  height: 35px;
  box-shadow: 1px 1px 5px rgba(119, 119, 119, 0.5);
  padding-left: 15px;
}
.resNameWrap,
.resPhoneWrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 15px;
}

.inputNameLabel,
.inputPhoneLabel {
  font-size: 15px;
  color: #2b4865;
  margin-bottom: 10px;
}
.cancelTitle {
  color: #2b4865;
}
.res__submitBtn {
  background-color: #256d85;
  border-radius: 10px;
  width: 55px;
  height: 35px;
  margin-right: 10px;
  border: none;
  color: white;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.res__cancelBtn {
  background-color: #256d85;
  border-radius: 10px;
  width: 55px;
  height: 35px;
  margin-left: 10px;
  border: none;
  color: white;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media all and (min-width: 920px) {
  .cancelTitle {
    margin-top: 40px;
  }
}
/* 
svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path .circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path .line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}

.path .check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

p {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
}
p .success {
  color: #73af55;
}
p .error {
  color: #d06079;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
} */
