.signUp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;

  background: linear-gradient(
    90deg,
    rgba(143, 227, 207, 1) 0%,
    rgba(37, 109, 133, 1) 50%,
    rgba(43, 72, 101, 1) 100%
  );
}
.signUp__form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  /* padding-top: 70px;
  padding-bottom: 50px; */
}

.signUp__form__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #256d85;
  font-size: 20px;
  height: 50px;
}

.signUp__form__input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}
.signUp__form__input input {
  width: 170px;
  /* height: 20px; */
  border-style: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 13px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUp__form__input input::placeholder {
  opacity: 0.6;
  font-size: 12px;
}
.signUp__form__title img {
  width: 320px;
  height: 200px;
  object-fit: cover;
}
.signUp__form__title h1 {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
}

.signUp__form__input span {
  font-size: 14px;
  opacity: 0.7;
  width: 100px;
  padding-bottom: 5px;
}
.signUp__form__input__email {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signUp__form__input div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  height: 40px;
}

.signUp__form__oauth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.signUp__form__oauth > div {
  margin: 10px;
}

.signUp__form__oauth img {
  height: 40px;
  width: 40px;
}

.signUp__form__validation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgb(244, 101, 101);
  font-weight: 400;
  height: 40px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.signUp__form__btn button {
  width: 120px;
  height: 50px;
  border-style: none;
  background-color: #256d85;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  margin-bottom: 25px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}
.signUp__form__Btn button:active {
  box-shadow: 0 2px #666;
  animation: press 0.2s 1 linear;
}
@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.93);
  }
  to {
    transform: scale(1);
  }
}

@media all and (min-width: 844px) {
  .signUp__form {
    height: 750px;
    width: 420px;
    border-radius: 20px;
    justify-content: center;
  }
  .signUp__form__input div {
    justify-content: center;
  }
  .signUp__form__input {
    width: 350px;
  }

  .signUp__form__validation {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .signUp__form__btn button {
    width: 150px;
  }
}

.shake {
  animation: gelatine 0.5s ease-out;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
