.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background: linear-gradient(
    90deg,
    rgba(0, 43, 91, 1) 0%,
    rgba(43, 72, 101, 1) 35%,
    rgba(37, 109, 133, 1) 100%
  );
}

.register__form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.register__form__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 60px;
  margin-top: 60px;
}
.register__form__title h1 {
  margin: 0px;
  padding: 0px;
  color: #256d85;
}

.register__form__title img {
  width: 320px;
  height: 200px;
  object-fit: cover;
}

.register__form__input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 350px;
  margin-bottom: 70px;
}
.register__form__input input {
  height: 25px;
  width: 250px;
  border-style: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 15px;
  padding-bottom: 15px;
}
.register__form__input input::placeholder {
  opacity: 0.6;
}

.register__form__input span {
  font-size: 18px;
  margin-bottom: 25px;
  padding-left: 3px;
  opacity: 0.8;
}
.register__form__input div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 30px;
}

.register__form__validation {
  font-size: 15px;
  color: #8ff3cf;
  font-weight: 400;
  height: 15px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.register__form__btn {
  height: 20%;
}

.register__form__btn button {
  width: 150px;
  height: 50px;
  border-style: none;
  background-color: #256d85;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  margin-bottom: 25px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}
.register__form__Btn button:active {
  box-shadow: 0 2px #666;
  animation: press 0.2s 1 linear;
}
@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.93);
  }
  to {
    transform: scale(1);
  }
}

@media all and (max-width: 389px) {
  .register__form__title {
    height: 10%;
  }
  .register__form__validation {
    height: 5%;
  }
}

@media all and (min-width: 844px) {
  .register__form {
    height: 800px;
    width: 450px;
    border-radius: 20px;
    justify-content: center;
  }
  .register__form__title {
    height: 5%;
  }
  .register__form__validation {
    margin-top: 5px;
    height: 5%;
  }
  .register__form__input {
    height: 50%;
  }
  .register__form__btn {
    margin-top: 20px;
    height: 20%;
  }

  .register__form__input input {
    height: 15px;
  }
}
