* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 .container {
  display: flex;
  justify-content: flex-start;
 }

.main_container {
  width: 1130px;
  height: 100vh;
  margin-left: 40px;
}

.title {
  margin: 60px 0 20px 15px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content:stretch;
  height: 470px;
}

.component {
  width: 100%;
  margin: 15px 15px;
  padding: 20px 20px;
  background-color: #eeeeee;
  border-radius: 10px;
  align-items: stretch;
}

.barChartsBtn {
padding-left: 15px;
}

.barChartsBtn > button {
  padding: 6px 9px;
  margin-right: 10px;
  border: 0;
  border-radius: 5px;
  background-color: #dedddd;
  /* background-color: #e69166; */
  color: #256D85;
  font: 11px arial;
  font-size: 0.7rem;
  cursor: pointer;
  box-shadow: 1px 2px 0 rgb(0,0,0,0.5);
}
.barChartsBtn > button:active {
  background-color: #256D85;
  color: white;
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}

.h3 {
  color: #2b4865;
  margin-bottom: 20px;
}