* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content:stretch;
  height: 470px;
}



.pages{
  width: 1130px;
  height: 100vh;
  margin-left: 120px;
  margin-top: 40px;  
}

.title {
  font-size: 1.5rem;
  color: #256D85;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content:stretch;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content:stretch;
  margin-left: 1.6rem;
  margin-top: 2rem;
}


.tables {
  min-height: 200px;
}

.table {
    
    width: 1266px;
    text-align: center;
    font-size: 0.9em;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-collapse: separate;
	  border-spacing: 0 10px;  
      
  

  
}

.thead {
  
  
    
}

.tr {
   
  
  
    
    
}



.th {
  
    text-align: center;
    width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  height: 40px;
 padding-bottom: 30px;
 
}
.tbody {
    
 
    
}


TD {
  
  padding-top: 20px;
  padding-bottom: 20px;
  
}



.td {
  height: 56px;
  border-radius: 0;
  vertical-align: center;
  border-bottom: 2px solid lightgray;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  text-align: center;
  border-spacing: 0px;
}
.td1 {
  height: 56px;
  vertical-align: top;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  border-left: 2px solid lightgray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: center;
  border-spacing: 0px;
  
  
}
.td4 {
  height: 56px;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  border-right: 2px solid lightgray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  text-align: center;
  border-spacing: 0px;
  vertical-align: top;
  
}

  .button_confirm{
   
    padding: 6px 12px;
    color: #fff;
    background-color: #256D85;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    margin-left: 23rem;
    } 
.phone {
  margin-right: 2rem;
}
.input_modal{
    margin-top: 0.7rem;
    
}

.react-icons {
  color: white;
}