server:
  port: 8080

spring:
  profiles:
    include: app, security, mail, file

  redis:
    host: redis
    port: 6379
    pool:
      max-idle: 10
      min-idle: 0
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2
      settings:
        web-allow-others: true
  datasource:
    url: jdbc:h2:mem:test
  sql:
    init:
      data-locations: classpath*:db/h2/data.sql
      schema-locations: classpath*:db/h2/schema.sql

