.pages{
    
  display: flex;
    justify-content: center;
    align-items: center;
    height: 844px;
    width: 390px;
    flex-direction: column;
    
}

.food {
  
  height: 107px;
  width: 390px;
}

.title{
  margin-top: 1rem;
  font-weight: 500;
}

.subtitle{
  margin-top: 0.3rem;
  font-size: 4px;
}

.tables {
  overflow-y: scroll;
  height: 1350px;
  -ms-overflow-style: none;
  
}
.tables::-webkit-scrollbar{
  display:none;
}
.table {
  
    width: 390px;
    border-top: 2px solid #EDEDED;
    text-align: center;
    font-size: 0.9em;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-collapse: separate;
	  border-spacing: 0 10px;  
    height: 1rem;  
    margin-top: 1.0rem;
  

  
}


.th {
    
    text-align: center;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
  font-weight: bold;
  vertical-align: top;
  background-color: #EDEDED;
  font-size: 0.7rem;
  
  
}

.th1 {
  background-color: #EDEDED;;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 0.7rem;
 padding: 10px;
}

.th4 {
  background-color: #EDEDED;;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 10px;
  
}

.tbody {
 
  
    
}


TD {
  
  padding-top: 20px;
  padding-bottom: 20px;
 
}

.td {
   
  vertical-align: top;
  border-bottom: 2px solid #EDEDED;;
  border-top: 2px solid #EDEDED;;
  border-bottom: 2px solid #EDEDED;;
  text-align: center;
  border-spacing: 0px;
  border-radius: 0;
}
.td1 {
  border-top: 2px solid #EDEDED;;
  border-bottom: 2px solid #EDEDED;;
  border-left: 2px solid #EDEDED;;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  
  text-align: center;
  border-spacing: 0px;
  
}
.td4 {
  border-top: 2px solid #EDEDED;;
  border-bottom: 2px solid #EDEDED;;
  border-right: 2px solid #EDEDED;;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  text-align: center;
  border-spacing: 0px;
  
}


.upform {
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: fixed;
    width: 400px;
    height: 12rem;
    
    border-top: 2px solid #EDEDED;
}


.div {
    position: relative;
    height: 24px;
    margin-bottom: 1.5rem;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 90%;
    font-size: 1rem;
    border: 1px solid #DADCE0;
    border-radius: .5rem;
    outline: none;
    margin: 0.9rem;
    padding: 1rem;
    background: none;
    z-index: 1;
    
}


.label {
    position: absolute;
  left: 0.75rem;
  top: 1.25rem;
  padding: 0 .25rem;
  background-color: #fff;
  color: #80868B;
  font-size: 1rem;
  transition: .3s;
}


.input:focus + .label{
    top: -.5rem;
    left: .8rem;
    color: #256D85;
    font-size: .75rem;
    font-weight: 500;
    z-index: 10;
  }


  .input:not(:placeholder-shown).input:not(:focus)+ .label{
    top: -.5rem;
    left: .7rem;
    font-size: 0.75rem;
    font-weight: 500;
    z-index: 10;
    
  }

  .input:focus{
    border: 1.5px solid #256D85;
  }

  .button_res{
    float: right;
    padding: 6px 12px;
    color: #fff;
    height: 33px;
    background-color: #256D85;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    align-items: flex-end;
    margin-top: 0.9rem; 
    
    margin-left: 21.5rem;
    border: 0;
    outline: 0;
    text-decoration: none;
  }   

  /* .button_confirm{
   
    padding: 6px 12px;
    color: #fff;
    background-color: #256D85;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    margin-left: 23rem;
    } */

/* .input_modal{
    margin-top: 0.7rem;
    
}  */



.link {
  
  text-decoration: none;
  flex-direction: column;
  color: #fff;
  background-color: #256D85;
  border-radius: 5px;
  font-size: 13px;
  margin-left: 20rem;
  border-color: #256D85;
  padding: 0.4rem;
  margin-right: 0;
  
}


.food {
  width: 390px;
}

.logo {
  display: flex;
  width: 85px;
  margin-top: 2.2rem;
  margin-left: 9rem;
  justify-content: flex-start;
}

