.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 412px;
  height: 844px;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.title {
  margin-top: 1.2rem;
  font-size: 25px;
  font-weight: 500;
}
.subtitle {
  margin-top: 0.5rem;
  font-size: 11px;
}
.tables {
  overflow-y: scroll;
  height: 100%;
  -ms-overflow-style: none;
}
.tables::-webkit-scrollbar {
  display: none;
}

.table {
  width: 390px;

  text-align: center;
  font-size: 0.9em;
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
  line-height: 1.5;
  border-collapse: separate;
  border-spacing: 0 10px;
  height: 1rem;
  margin-top: 0.5rem;
}

TD {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.td {
  padding-left: 0.5rem;
  vertical-align: top;
  text-align: left;
  border-bottom: 2px solid #ededed;
  border-top: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
  border-left: 2px solid #ededed;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
  border-right: 2px solid #ededed;
}

.reviewid {
  margin-bottom: 20px;
}

.upform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 1;
}

.form {
  width: 100%;
  border-radius: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.div {
  position: relative;
  height: 24px;
  margin-bottom: 1.5rem;
  margin-left: 13px;
}

.input {
  width: 290px;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  margin-left: 10px;
  padding-left: 15px;
}

/* .label {
      position: absolute;
    left: 0.75rem;
    top: 1.25rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: #80868B;
    font-size: 1rem;
    transition: .3s;
    display: flex;
  } */

.button_res {
  color: #fff;
  height: 37px;
  width: 55px;
  background-color: #256d85;
  border-radius: 5px;
  font-size: 13px;
  border-radius: 0.5rem;
  border-style: none;
  margin-right: 10px;
  margin-left: 1rem;
}

.food {
  width: 100%;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-top: 15px;
}
.logo img {
  width: 100px;
  margin-top: 2rem;
}
