* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: flex-start;
}
.StoreManagement {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  align-items: center;
}

.menuInfo {
  height: 50%;
}
