.postmodal {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.StoreInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
}
.StoreInfo__title {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  width: 1000px;
}

.StoreInfo__input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.StoreInfo__input__wrap1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.StoreInfo__input__wrap2 {
  display: flex;
  flex-direction: column;
}

.StoreInfo__input__wrap1__info1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.StoreInfo__input__wrap1__info2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.StoreInfo__input__wrap2__info1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.StoreInfo__input__wrap2__info2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.StoreInfo__input__wrap2__info2__title {
  display: flex;
  width: 320px;
  justify-content: center;
  align-items: center;
}

.StoreInfo__input__wrap2__info2 input {
  width: 220px;
}

.StoreInfo__input__wrap1__info1 div,
.StoreInfo__input__wrap1__info2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.StoreInfo__input__wrap2__info2__address {
  display: flex;
}
