.sidebar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  width: 270px;
  height: 100vh;
  background: transparent;
  background: linear-gradient(
    180deg,
    rgba(43, 72, 101, 1) 0%,
    rgba(37, 109, 133, 1) 35%,
    rgba(143, 227, 207, 1) 100%
  );
  padding-top: 60px;
  overflow: auto;
  position: fixed;
  left: 0;
  padding-top: 60px;
  /* border-radius: 30px; */
  z-index: 2;
}

.logo {
  width: 150px;
  height: auto;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-between;
}

.sidebarBtn {
  display: block;
}

.componentsBtn {
  padding: 10px 30px;
  border: 0;
  font-size: 1.4rem;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.componentsBtn:hover,
.componentsBtn:focus {
  border-radius: 20px;
  position: relative;
  background-color: white;
  color: #256d85;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile {
  margin: 50px 0;
}
@media all and (max-width: 920px) {
  .sidebar_container {
    min-width: 140px;
    width: 140px;
    display: flex;
  }
  .logo {
    width: 130px;
    height: auto;
  }
  .componentsBtn {
    padding: 10px 30px;
    border: 0;
    /* border-radius: 30px; */
    font-size: 1.2rem;
    color: white;
    background: transparent;
    cursor: pointer;
  }
}

@media all and (max-width: 400px) {
  .sidebar_container {
    display: none;
  }
}
