* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.main_container {
  width: 100vw;
  margin-left: 270px;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.profile_container {
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  padding: 50px;
  height: 700px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.contents_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.contents_container h1 {
  font-size: 35px;
  color: #2b4865;
  margin-bottom: 50px;
}

.contents_text {
  margin-bottom: 40px;
}

.btn {
  width: 80px;
  height: 40px;
  border: 0;
  outline: 0;
  border-radius: 15px;
  color: white;
  background-color: #256d86;
  font-size: 1.2rem;
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  margin-left: 200px;
}
.btn:hover {
  transform: scale(1.03);
}
.btn:active {
  transform: scale(0.98);
}

.imgWrapper img {
  width: 220px;
  height: 220px;
  margin-bottom: 40px;
  border-radius: 50%;
}
