* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 .container {
  display: flex;
  justify-content: flex-start;
 }

 .main_container {
  width: 1130px;
  height: 100vh;
  margin-left: 70px;
}

.profile_container {
  margin-top: 168px;

}

.contents_container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.contents_info {
  margin-left: 120px;
}

.contents_text {
  margin : 20px 0;
}

.btn{
  width: 80px;
  height: 34px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  color: white;
  background-color: #256D86;
  font-size: 1.2rem;
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}
.btn:hover {
  transform:scale(1.03);
}
.btn:active {
  transform: scale(.98);
}

.imgWrapper {
  position: relative;
  width: 330px;
  height: 330px;
}

.imgPreview {
  /* border-radius: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  border-radius: 100%;
}