* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.main_container {
  width: 1130px;
  height: 100vh;
  margin-left: 40px;
}

.contents_container {
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  padding: 50px;
  height: 700px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile_container {
  margin-top: 50px;
}

.imgWrapper img {
  width: 220px;
  height: 220px;
  margin-bottom: 40px;
  border-radius: 50%;
}

.imgPlusBtn {
  width: 60px;
  height: 60px;
  border: 0;
  outline: 0;
  background-color: transparent;
  position: absolute;
  left: 1150px;
  top: 390px;
}

.imgPlus {
  width: 100%;
}
.imgPlus:active {
  transform: scale(0.9);
}

.contents_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contents_text {
  margin-bottom: 25px;
}
.contents_text input {
  border-radius: 15px;
}

.btn {
  width: 80px;
  height: 40px;
  border: 0;
  outline: 0;
  border-radius: 15px;
  color: white;
  background-color: #256d86;
  font-size: 1.2rem;
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.btn:hover {
  transform: scale(1.03);
}
.btn:active {
  transform: scale(0.98);
}

.input {
  width: 237px;
  height: 45px;
  padding-left: 10px;
  font-size: 1.1rem;
  border: 0;
  box-shadow: 1px 1px 5px rgba(119, 119, 119, 0.5);
}

.errMsg {
  display: flex;
  justify-content: center;
  color: rgb(244, 101, 101);
  font-style: italic;
  font-size: 1rem;
  width: 100%;
}

.bottomBtn {
  display: flex;
}
