.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 112px;
}

.h2 {
  font-size: 2.7rem;
  text-shadow: 1px 1px 1px gray;
  color: #2b4a66;
}

.imgPreview {
  transform: translate(50, 50);
  width: 74px;
  height: 74px;
  border-radius: 100%;
  cursor: pointer;
  object-fit: cover;
}
