* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.QR__container {
  display: flex;
  width: 100%;
  height: 100%;
  /* justify-content: center; */
}
.qr__container {
  margin-left: 270px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 0px; */
  /* padding-bottom: 0px; */
  /* outline: none; */
  /* position: relative; */
  /* justify-content: center; */
}